body {
    overflow-y: auto;
}

body, p {
    /*font-family: 'Raleway', serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4 {
    font-family: "Open Sans",sans-serif;
}

#navbar a {
    font-size: 15px;
}

.text-color-arovia {color: #39df73;}
a, a:hover {
    text-decoration: none;
}

.leaflet-zoom-animated g path {
    fill-opacity: 0.6;
    stroke-opacity: 0.8;
}

footer img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
    padding: 5px;
}

footer p {
    font-size: 14px;
}

.close-modal-map {
    font-size: 22px;
    color: white;
}

.page-content > .row {
    margin-top: 0;
}
.parent-row {
    margin-top: 0;
}
.a-map-container {
    padding-left: 0;
    padding-right: 0;
}
.parent-map {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#map {
    width: 100%;
    /*height: 600px;*/
    height: 100vh;
    min-height:100vh;
    margin:0;
    padding:0;
}

/*******************************
* Header - Nav Bar
*******************************/
.navbar {
    margin-bottom: 0;
}

.header {
    background-color: #20c55a;
}

.header .logo h1 {
    padding-bottom: 0;
}

.header .form {
    margin-bottom: 0;
}

#navbar {margin-top: 10px;}

nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
/* Titulo izquierda */
nav.navbar-findcond a { color: #333; }
/* Texto derecha, menu*/
nav.navbar-findcond ul.navbar-nav a { color: #333; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
/* Underline menu */
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #199946; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #199946; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
/* Hover dropdown */
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #199946; color: #fff; }
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background-color: #eee;border-color: #199946;  }

nav.navbar-findcond button.navbar-toggle:hover {
    background: #199946;
}

.info-nav.fa.fa-info {
    color: #199946;
}

.vol-nav.fa.fa-street-view {
    color: #199946;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    /*width: 320px;*/
    width:450px;
    max-width: 450px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    /*padding: 15px 15px 80px;*/
    /*padding: 5px 5px 25px;*/
    padding: 5px 5px 5px;
    /*padding: 0 15px 15px;*/
}


/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/*******************************
* Modal
*******************************/

/* ----- Right Modal ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

#infoMapRight .modal-header {
    background: #16893F !important;
    border-bottom: 3px solid #126F33;
}

#modal-map-title h2 {
    color: #FFFFFF;
}

.img-content-map {
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    padding: 2px;
}

.tab-content img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.modal-backdrop {
    background-color: transparent;
}

.modal-header{min-width: 433px; max-width: 433px;}
#infoMapRight .modal-body{min-width: 433px; max-width: 433px;}

.tabbable {
    padding: 2px;
    min-width: 423px; max-width: 423px;
}

.tab-content .tab-content {width: 100%!important;}
.tab-content .tab-content .tab-pane {width: 100%!important;}

.tabbable .tab-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-tabs {
    border-bottom: 0;
}

/* ----- Left Modal ----- */
#infoMapLeft .modal-content {
    overflow-x: hidden;
}
#infoMapLeft .modal-header {
    /*background: rgb(247, 247, 247) !important;*/
    background: #346366 !important;
    min-width: 433px;
    max-width: 433px;
    text-align: center;
    color: #ffffff;
    border-bottom: 3px solid #2A4F52;
}

#infoMapLeft .modal-content {
    background: #FAFAFA;
}

.leftmodal-body-subtitle {
    text-align: left;
    /*border-top: 1px #346366 solid;
    border-bottom: 1px #346366 solid;*/
    padding: 0.7rem;
    background: rgb(247, 247, 247) !important;
    color: #346366 !important;
}

.leftmodal-body-content {
    font-size: 14px;
    color: #777;
    padding: 15px 50px 15px 50px;
    min-width: 433px;
    max-width: 433px;
    text-align: center;
}

.leftmodal-title-top {color: #2A4F52;}

.leftmodal-title.leftmodal-title-proyectos {color: #f0ad4e;}
.leftmodal-title.leftmodal-title-servicios {color: #428bca;}
.leftmodal-title.leftmodal-title-comites {color: #5cb85c;}
.leftmodal-title.leftmodal-title-voluntarios {color: #d9534f;}

.count_proyectos_por_distritos {font-size: 18px; color: #f0ad4e;}
.count_servicios_por_distrito {font-size: 18px; color: #428bca;}
.count_comites_por_distritos {font-size: 18px; color: #5cb85c;}
.count_voluntarios_por_distritos {font-size: 18px; color: #d9534f;}

.leftmodal-body-subtitle {background: rgb(247, 247, 247) !important;}
.leftmodal-body-subtitle.leftmodal-body-subtitle-proyectos {border-top: 1px #f0ad4e solid; border-bottom: 1px #f0ad4e solid;}
.leftmodal-body-subtitle.leftmodal-body-subtitle-servicios {border-top: 1px #428bca solid; border-bottom: 1px #428bca solid;}
.leftmodal-body-subtitle.leftmodal-body-subtitle-comites {border-top: 1px #5cb85c solid; border-bottom: 1px #5cb85c solid;}
.leftmodal-body-subtitle.leftmodal-body-subtitle-voluntarios {border-top: 1px #d9534f solid; border-bottom: 1px #d9534f solid;}

#infoMapLeft .modal-body{background: rgb(247, 247, 247) !important; min-width: 450px; max-width: 450px;}
#infoMapLeft .modal-body h4{font-weight: 600;}

/*******************************
* Filtros
*******************************/

#ui-filtros-parent {
    width:auto;
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    background-color: white !important;
    top: 230px;
    margin:0 auto;
    border:1px #CCCCCC solid;
    padding: 12px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    color: rgba(0,0,0,.6)!important;
}
#ui-filtros-parent:hover {
    background: #fafafa!important;
    color: rgba(0,0,0,.8)!important;
}
#ui-filtros {
    float: left;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
}

.map-view-mode label {
    display: block;
    font-size: 18px;
    color: #777;
    padding: 0 10px;
}

.map-view-mode input[type="radio"] {
    display:none;
}
.map-view-mode input[type="radio"] + label {
    font-size:15px;
}
.map-view-mode input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.map-view-mode input[type="radio"] + label span {
    background-color:#ffffff;
    border:1px #2A4F52 solid;
}

.map-view-mode input[type="radio"]:checked + label span{
    background-color:#346366;
}

.map-view-mode input[type="radio"] + label span,
.map-view-mode input[type="radio"]:checked + label span {
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}

#div_reset_map {
    margin-right: 20px;
    margin-top: 8px;
}

.hide_reset_btn {
    display: none;
}

.show_reset_btn {
    display: block;
}

/*******************************
* Infobox
*******************************/

.leaflet-popup-content {
    width: 320px !important;
}

.infobox_map {
    padding: 2px;
}

.leaflet-popup-content p {
    margin: 0;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: 8px;
}

.leaflet-popup-content {
    margin: 0;
}

.infobox_map .infobox_header {
    margin: 10px 8px;
}

.infobox_map.infobox_proyectos {
    border-radius: 5px;
    border-top: 5px #f0ad4e solid;
}

.infobox_map.infobox_servicios {
    border-radius: 5px;
    border-top: 5px #428bca solid;
}

.infobox_map.infobox_comites {
    border-radius: 5px;
    border-top: 5px #5cb85c solid;
}

.infobox_map.infobox_voluntarios {
    border-radius: 5px;
    border-top: 5px #d9534f solid;
}

.infobox_map .infobox_title {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0.6em;
    max-width: 285px !important;
}

.infobox_map .infobox_item {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 1px;
}

.infobox_map .infobox_property {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: 600;
}

.infobox_map .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.infobox_map .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.infobox_map .col {
    display: table-cell;
}

.infobox_map .col-border {
    border-left: 1px solid rgba(0,0,0,0.4);
}

.infobox_proyectos .infobox_title {
    color: #f0ad4e;
}

.infobox_servicios .infobox_title {
    color: #428bca;
}

.infobox_comites .infobox_title {
    color: #5cb85c;
}

.infobox_voluntarios .infobox_title {
    color: #d9534f;
}

.leaflet-container a.leaflet-popup-close-button {
    right: 5px;
    top: 8px;
    color: #888;
    font-size: 18px;
    z-index: 2;
}

/*******************************
* Utils
*******************************/

.ui_space3{ height: 3px; width: 100%; float: left; }
.ui_space5{ height: 5px; width: 100%; float: left; }
.ui_space10{ height: 10px; width: 100%; float: left; }
.ui_space15{ height: 15px; width: 100%; float: left; }
.ui_space20{ height: 20px; width: 100%; float: left; }
.ui_space30{ height: 30px; width: 100%; float: left; }
.ui_space40{ height: 40px; width: 100%; float: left; }
.ui_space50{ height: 50px; width: 100%; float: left; }

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

#loader {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: transparent;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.map-slider-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3em 0 0 -3em;
    color: transparent;
    font-size: 10px;
    border-top: 0.5em solid rgba(0, 0, 0, 0.2);
    border-right: 0.5em solid rgba(0, 0, 0, 0.2);
    /*border-bottom: 0.5em solid #346366 !important;*/
    border-bottom: 0.5em solid #1A1108 !important;
    border-left: 0.5em solid rgba(0, 0, 0, 0.2);
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.map-slider-loading, .map-slider-loading:after {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-clip: padding-box;
}

.map-slider-loading-label {
    /*color: #aaaaaa;*/
    color: #1A1108;
    font-weight: 500;
    position: absolute;
    margin: -3em 0 0 -3em;
    top: 70%;
    left: 51.6%;
}